<!-- catalog.component.html -->

<header>
    <img src="images/grogu.png" alt="Grogu" height="80">
    <h1>Super Catálogo de Miguel</h1>
    <nav>
        <ul>
            <li><a href="actores">Actores</a></li>
            <li><a href="#films">Películas</a></li>
            <li><a href="#category">Categorías</a></li>
            <li><a href="idiomas">Idiomas</a></li>
        </ul>
    </nav>
</header>

<main>
    <section id="actors">
        <h2>Actores</h2>
        <p>¡Conoce a los actores!</p>
    </section>

    <section id="films">
        <h2>Películas</h2>
        <p>¡Mira las películas!</p>
    </section>

    <section id="category">
        <h2>Categorías</h2>
        <p>¡Clasifica por categorías!</p>
    </section>

    <section id="languages">
        <h2>Idiomas</h2>
        <p>¡Escoge tu idioma!</p>
    </section>
</main>
