/* componente.component.css */

/* Estilos generales para los componentes */
:host {
    display: block;
    margin-bottom: 20px;
  }
  
  /* Estilos para IdiomasListComponent */
  .app-idiomas-list {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin: 20px 0;
  }
  
  .app-idiomas-list h2 {
    color: #333;
    margin-top: 0;
  }
  
  .app-idiomas-list p {
    color: #666;
    line-height: 1.5;
  }
  
  .app-idiomas-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .app-idiomas-list li {
    background-color: #fff;
    margin: 10px 0;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: transform 0.2s ease-in-out;
  }
  
  .app-idiomas-list li:hover {
    transform: translateY(-5px); /* Efecto de levantamiento al pasar el ratón */
  }
  
  /* Estilos para IdiomasAddComponent y IdiomasEditComponent */
  .app-idiomas-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin: 20px 0;
  }
  
  .app-idiomas-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .app-idiomas-form input[type="text"],
  .app-idiomas-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .app-idiomas-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .app-idiomas-form button:hover {
    background-color: #0056b3;
  }
  
  /* Estilos para IdiomasViewComponent */
  .app-idiomas-view {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin: 20px 0;
  }
  
  .app-idiomas-view h2 {
    color: #333;
    margin-top: 0;
  }
  
  .app-idiomas-view p {
    color: #666;
    line-height: 1.5;
  }
  
  .app-idiomas-view .btn-back {
    background-color: #6c757d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .app-idiomas-view .btn-back:hover {
    background-color: #5a6268;
  }
  